* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.content {
    background-color: #ccc;
    min-height: 700px;
}

.menu {
    position: sticky;
    top: 0;
    width: 20%;
   top: 20%;
    margin-left: 10%;
    margin-bottom: 10%;
}

.main{
    margin-left: 20%;
}

.parallax {
    min-height: 350px;
    background-image: url(https://i.pinimg.com/originals/98/d9/a7/98d9a7430149223fa95c0ab46a07f9d1.jpg);
    background-attachment: fixed;
}

.item {
    clip-path: polygon(50% 10%, 12% 100%, 30% 40%, 0% 25%);
    background-image: url(https://i.pinimg.com/originals/98/d9/a7/98d9a7430149223fa95c0ab46a07f9d1.jpg);
}